extends ../../_component/layout/template

block cool-config
    -
     var myTitle = 'ggfdg';
     var myDescription = 'Cearn!';
     var landingPage = 'CSS';
     var activeLink = '/css/borders';

block awesome-content
    h1=myTitle
    p=myDescription
    