extends ../../_component/layout/template

block cool-config
    -
     var myTitle = 'learn tfdgfd';
     var myDescription = 'Javascript gsdd!';
     var landingPage = 'JavaScript';
     var activeLink = '/javascript/comments';

block awesome-content
    h1=myTitle
    p=myDescription
    