extends ../_component/layout/template

block cool-config
    -
     var myTitle = 'learn to code HTML, CSS and Javascript';
     var myDescription = 'This is a html replica  of w3schools.com';
     var landingPage = '';
     var activeLink = '';

block awesome-content
    h1 HTML5 tutorial
    p With HTML you can create your own Website.
    p This tutorial teaches you everything about HTML.
    h2 Examples in Every Chapter
    p With our online HTML editor, you can edit the HTML, and click on a button to view the result.
    h2 HTML5 References
    p At W3Schools you will find complete references about tags, attributes, events, color names, entities, character-sets, URL encoding, language codes, HTTP messages, and more.