extends ../../_component/layout/template

block cool-config
    -
     var myTitle = 'lgfd';
     var myDescription = 'Javascript is fgfdgdf!';
     var landingPage = 'JavaScript';
     var activeLink = '/javascript/operators';

block awesome-content
    h1=myTitle
    p=myDescription