extends ../../_component/layout/template

block cool-config
    -
     var myTitle = 'learn to code HTML Elements for beginners';
     var myDescription = 'Attributes provide additional information about HTML elements.';
     var landingPage = 'HTML';
     var activeLink = '/html/attributes';

block awesome-content
    h1=myTitle
    p=myDescription
    h1 Example
    
    p(title="this is a tooltip") This paragraph has a tooltip.
    a(href="http://youtube.com/codetap") And this link takes you to Codetap lessons on youtube.
    p The next image will have width of 200 and height of 100
    img(src="http://lorempixel.com/200/100", width="200", height="100" alt="this text appears if the image is not found")