extends ../../_component/layout/template

block cool-config
    -
     var myTitle = 'learn to cogsdgd';
     var myDescription = 'Javascript gfdsg';
     var landingPage = 'JavaScript';
     var activeLink = '/javascript/variables';

block awesome-content
    h1=myTitle
    p=myDescription