extends ../_component/layout/template

block cool-config
    -
     var myTitle = 'learn to code Javascript for beginners';
     var myDescription = 'Javascript is easy and fun to learn!';
     var landingPage = 'JavaScript';
     var activeLink = '';

block awesome-content
    h1=myTitle
    p=myDescription
    h1 Javascript tutorial
    p JavaScript is the programming language of HTML and the Web.
    p This tutorial will teach you JavaScript from basic to advanced.
    h2 Examples in Every Chapter
    p With our "Try it Yourself" editor, you can change all examples and view the results.to view the result.
    h2 Javascript References
    p The reference contains examples for all properties, methods and events, and is continuously updated according to the latest web standards.