extends ../_component/layout/template

block cool-config
    -
     var myTitle = 'learn to code CSS for beginners';
     var myDescription = 'CSS is awesome and fun to learn!';
     var landingPage = 'CSS';
     var activeLink = '';

block awesome-content
    h1=myTitle
    p=myDescription
    h1 CSS tutorial
    p CSS is a language that describes the style of an HTML document.
    p This tutorial teaches you everything about CSS.
    h2 Examples in Every Chapter
    p With our online editor, you can edit the CSS, and click on a button to view the result.
    h2 CSS References
    p At W3Schools you will find complete CSS references of all properties and selectors with syntax, examples, browser support, and more.