extends ../../_component/layout/template

block cool-config
    -
     var myTitle = 'dfdf';
     var myDescription = ' rgfgf';
     var landingPage = 'CSS';
     var activeLink = '/css/backgrounds';

block awesome-content
    h1=myTitle
    p=myDescription