extends _component/layout/template

block cool-config
    -
     var myTitle = 'learn to code HTML, CSS and Javascript';
     var myDescription = 'This is a html replica  of w3schools.com';
     var landingPage = 'Home';
     var activeLink = '';

block awesome-content
    h1 This is a replica of w3schools.com
    p THE WORLD'S LARGEST WEB DEVELOPER SITE
    h2 HTML
    p The language for building web pages #[a(href="/html") Click it out!]
    h2 CSS
    p The language for styling web pages #[a(href="/css") See the CSS !]
    h2 JavaScript
    p The language for programming web pages #[a(href="/javascript") Here is the JavaScript !]
