doctype html
html
    head
        title learn to code HTML, CSS and Javascript
        meta(name="description",  content="This is a html replica  of w3schools.com")
        link(rel="stylesheet", href="style.css")
    body
        header
            a.current(href="/") Home
            a(href="/html") HTML
            a(href="/css") CSS
            a(href="/javascript") Javascript

        nav
            h3 HTML and CSS
            a(href="/html") Learn HTML
            a(href="/css") Learn CSS
            a(href="/javascript") Learn Javascript

        article
            h1 This is a replica of w3schools.com
            p THE WORLD'S LARGEST WEB DEVELOPER SITE
            h2 HTML
            p The language for building web pages #[a(href="/html") Click it out!]
            h2 CSS
            p The language for styling web pages #[a(href="/css") See the CSS !]
            h2 JavaScript
            p The language for programming web pages #[a(href="/javascript") Here is the JavaScript !]

        footer &copy; 2017 My name is awesome!
        